
    <p *ngIf="element.type === 'Low'" style="background-color: rgba(4, 255, 4, 0.39);">
        <strong>
            {{ element.type }}
        </strong>
        <br>
        <em>{{ element.task }}</em>
    </p>

    <p *ngIf="element.type === 'Medium'" style="background-color: rgba(255, 251, 1, 0.39);">
        <strong>
            {{ element.type }}
        </strong>
        <br>
        <em>{{ element.task }}</em>
    </p>

    <p *ngIf="element.type === 'High'" style="background-color: rgba(255, 7, 7, 0.39);">
        <strong>
            {{ element.type }}
        </strong>
        <br>
        <em>{{ element.task }}</em>
    </p>