.loginImg{
    margin-left: 30%;
}

.signInImg{
    margin-left: 13%;
}

.putCenter{
    margin-left: 30%;
    padding-left: 10%;
    padding-right: 10%;
}

a{
    margin-left: 18%;
}

h6{
    margin-left: 20%;
}

.btnSignIn{
    margin-left: 10%;
}